*{
    margin: 0;
    padding: 0;
    background-color: #1a2e2e;;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body{
    animation: transitionIn 1.5s;
}
.loader{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

@keyframes transitionIn {
    from{
        opacity: 0;
        transform: rotateY('-180deg');
    }   
    
    to{
        opacity: 1;
        transform: rotateY('0deg');

    }
}

.home{
    height: 100vh;
    min-height: 650px;
    /* border: 2px solid yellow; */
}
.about-skill{
    height: 100vh;
    min-height: 1000px;
    margin-bottom: 0px;
    /* border: 2px solid yellow; */

}

@media (max-width:1380px) {
    .about-skill{
        min-height: 1000px;
        margin-bottom: 350px;
    
    }
    
}
@media (max-width:924px) {
    /* vedika */
    .about-skill{
        min-height: 1250px;
        margin-bottom: 550px;
    
    }
    
}

.project-contact{
    height: 100vh;
    min-height: 1000px;
    /* border: 2px solid yellow; */

}

@media (max-width:820px) {
     .home{
        height: 100vh;
        min-height: 900px;
    }
       
}
@media (max-width:742px) {
     .home{
        height: 100vh;
        min-height: 900px;
    }
       
}
@media (max-width:463px) {
     .home{
        height: 100vh;
        min-height: 950px;
    }
       
}
@media (max-width:420px) {
     .home{
        height: 100vh;
        min-height: 920px;
    }
       
}
@media (max-width:380px) {
     .home{
        height: 100vh;
        min-height: 900px;
    }
       
}
@media (max-width:320px) {
     .home{
        height: 100vh;
        min-height: 850px;
    }
       
}
@media (max-width:283px) {
     .home{
        height: 100vh;
        min-height: 920px;
    }
       
}
@media (max-width:270px) {
     .home{
        height: 100vh;
        min-height: 1000px;
    }
       
}
@media (max-width:145px) {
     .home{
        height: 100vh;
        min-height: 1100px;
    }
       
}
@media (max-width:145px) {
     .home{
        height: 100vh;
        min-height: 1200px;
    }
       
}



@media (max-width:924px) {
     .project-contact{
        height: 55%;
        min-height: 950px;
    }
    
    
}
@media (max-width:465px) {
     .project-contact{
        height: 55%;
        min-height: 1000px;
    }
    
    
}
@media (max-width:254px) {
     .project-contact{
        height: 55%;
        min-height: 1050px;
    }
    
    
}

/* header */

/* @media (max-width:400px) {
    
    
} */
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 5rem;
    border: 2px solid firebrick;
}
@media (max-width:464px) {
    .header{
        justify-content: center;
    }
    
}
@media (max-width:821px) {
    .header{
        margin-bottom: 0rem;
    }
    
}
.logo{
    color: cyan;
    margin: 15px;
    /* font-family: 'UnifrakturMaguntia', cursive; */
    /* font-family: 'Foldit', cursive; */
    font-family: 'Tangerine', cursive;
    border: 2px solid rgb(125, 210, 233);
    border-radius: 55px;
    padding: 5px 15px;
    cursor: pointer;
}

.logo:hover{
    box-shadow: 1px 1px 12px;
    transition: all;
    transition-duration: 0.5s;
    animation: shake 0.25s;
    text-decoration: underline 1px;
}

.logo h1{
    color: cyan;
}


.navbar{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border: 2px solid forestgreen;
}

@media (max-width:464px) {
    .navbar {
        width: 100%;
    }
    
}

.navbar li{
    margin: 20px 29px;
    list-style: none;
}

@media (max-width:630px) {
    .navbar li{
        margin: 20px 20px;
    }
    
}
@media (max-width:545px) {
    .navbar li{
        margin: 20px 15px;
    }
    
}
@media (max-width:490px) {
    .navbar li{
        margin: 3px 15px;
    }
    
}
@media (max-width:350px) {
    .navbar li{
        margin: 3px 10px;
    }
    
}
@media (max-width:310px) {
    .navbar li{
        margin: 3px 5px;
    }
    
}

@media (max-width:270px) {
    .navbar li{
        margin: 2px 80px;
    }
    
}

.navbar li a{
    font-family: 'Merriweather', serif;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: white;
}
.navbar li a::after{
    content: "";
    display: block;
    height: 2px;
    width: 100%;
    background-color: cyan;
    transform-origin: left;
    transform: scaleX(0);
    transition: all 0.3s ease;
}
.navbar li a:hover:after{
    transform: scaleX(1);
}




/* body */

.body{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    border:  2px solid red;
    justify-content: space-around;
}
.App{
    color: white;
}
.info{
    display: flex;
    flex-direction: column;
    border: 2px solid yellow;
    align-self: center;
    max-width: 400px;
    margin-top: 25px;
}
.info h3, h1, p{
    color: white;
    display: inline;
    text-align: center;
}
.info h3{
    margin: 40px 0px 0px 0px;
    font-family: 'Bacasime Antique', serif;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Merriweather', serif;

}
.info p{
    color: cyan;
}

@media (max-width:420px) {
    .home-image img{
        width: 100vw;
    }
    .info{
        width: 100vw;
    }
    
}

.image{
    display: flex;
    border-bottom: 7px solid cyan;
    border-radius: 2px;
    border: 2px solid palegreen;
}
.social-media{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
} 
.social-media li{
    display: flex;
    list-style: none;
    margin: 3px 13px;
    text-align: center;
    border-radius: 45px;
    padding: 3px;
    border: 2px solid cyan;
}
.social-media a{
    text-decoration: none;
    color: #1a2e2e;
}
.social-media li .lucide{
    cursor: pointer;
    border-radius: 35px;
    width: 30px;
    height: 30px;
    padding: 3px;
    /* border: 1px solid red; */
    background-color: cyan;
}
.social-media li:hover{
    background-color: aqua;
    transition: all;
    transition-duration: 0.5s;
    animation: shake 0.25s;
}
@keyframes shake{
    10%{
        transform: rotate(15deg);
    }
    20%{
        transform: rotate(-15deg);
    }
    30%{
        transform: rotate(15deg);
    }
    40%{
        transform: rotate(-15deg);
    }
}
.cv-contact{
    margin: 25px 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.cv, .contact{
    margin: 0px 7px;
}
.cv-contact button{
    border: none;
}
.cv-contact button .cv{
    
    font-family: 'Merriweather', serif;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(0, 0, 0);
    color: cyan;
    border: 2px solid cyan;
    border-radius: 15px;
    padding: 8px 15px;
    text-decoration: none;
}
.cv-contact button .cv:hover{
    background-color: cyan;
    color: black;
    transition: all;
    transition-duration: 0.5s;
}
.cv-contact button .contact{
    
    font-family: 'Merriweather', serif;
    font-family: 'Poppins', sans-serif;
    background-color: black;
    color: white;
    border: 2px solid cyan;
    border-radius: 15px;
    padding: 8px 15px;
    text-decoration: none;
}








/* About */

.about{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border: 2px solid red;
}
.about-img img{
    background-color: #1c3535;
    border: 1px solid black;
    border-radius: 50px;
    border: 2px solid green;
}

@media (max-width:420px) {
    .about-img img{
        width: 90vw;
    }
    .about-info{
        width: 100vw;
        text-align: center;
    }
    
}
.lucide-mail{
    margin: 0px 4px;
}

.about-info img{
    border-radius: 5px;
    background-color: cyan;
}

.about-info{
    align-self: center;
    border: 2px solid yellow;
    width: 500px;
}
.about-info h1, h4, h5{
    margin-top: 12px;
}
.about-info h1{
    display: inline;
    color: cyan;
}
.about-info h4{
    font-family: 'Bacasime Antique', serif;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Merriweather', serif;
    color: white;
}
.about-info h5{
    display: flex;
    justify-content: center;    
    align-self: center;
    border: 1px solid red;
    margin-top: 15px;
    color: white;
}
.about-info h5 a{
    text-decoration: none;
    color: white;
}


/* skills */
.skill-head{
    display: flex;
    flex-direction: row;
}
.skill h1{
    display: inline;
    color: cyan;
    margin: 40px 0px;
}
.skill{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.card{
    display: flex;
    flex-direction: column;
    padding: 0px 35px;
    width: 400px;
    height: 300px;
    margin: 12px 30px;
    color: white;
    border-radius: 25px;
    overflow: hidden;
}
@media (max-width:600px) {
    .card{
        width: 80vw;
    }
    
}
@media (max-width:250px) {
    .card{
        width: 200px;
    }
    
}

.card:hover{
    border: 2px solid cyan;
    transform: translate(0px 12px);
    scale: 1.05;
}
.card h3, h4{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    text-align: center;
}
.webdev-img{
    border-radius: 25px;
    margin: 15px 0px;
    display: flex;
    justify-content: center;
}
.webdev-img img{
    border-radius: 12px;
    padding: 0px 2px;
    background-color: cyan;
    width: 50px;
    height: 50px;
}

.appdev-img{
    margin: 15px 0px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
}
.appdev-img img{
    border-radius: 12px;
    padding: 0px 2px;
    background-color: cyan;
    width: 50px;
    height: 50px;
}



/* projects */
.project{
    /* height: 100px; 
    overflow-x: scroll; 
    overscroll-behavior: contain;*/
    border: 2px solid green; 

    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 400px;
}
/* .project::-webkit-scrollbar {
    width: 0.5em;
  } */



.project .project-head{
    /* border: 2px solid firebrick; */
    display: flex;
    justify-content: center;
}
.project .project-head a{
    text-decoration: none   ;
}


/* slider */
.our-clients .container {
    height: 50px; 
    overflow-x: auto; 
    overscroll-behavior: contain;
    border: 2px solid pink;
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    overflow: hidden;
  }
  @media (max-width:1498px) {
    .our-clients .container {
        width: 100vw;
      }
    
  }
  
  .our-clients .container ul {
    display: flex;
    width: 300%; /* Set the width to 300% to accommodate 3 cards at a time */
    transition: transform 0.3s;
    padding: 0;
    margin: 0;
  }
  
  .our-clients .container ul a {
    /* border: 2px solid red; */
    list-style: none;
    flex: 0 0 calc(100% / 3.1);
    /* min-width: 350px; */
    height: 200px;
    margin: 0px 10px;
    box-sizing: border-box;
  }
  @media (max-width: 360px) {
    
  .our-clients .container ul a {
    min-width: 350px;
  }
    
  }



  .project-card{
    display: flex;
    align-items: center;
    border: 2px solid black;
    width: 300px;
    height: 200px;
    
}

.our-clients .container ul a{
    text-decoration: none;
    border: 2px solid red;
}
.our-clients .container ul a p {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid cyan;
    background: #1c3535;
    text-align: center;
    color: #fff;
    border-radius: 8px;
    margin: 0;
    padding: 0px 10px;
    height: 140px;
  }
.our-clients .container ul a p:hover{
    scale: 1.03;
  }

  .project-topic-name h4{
    /* background-color: red; */
    line-height: 10px;
    color: cyan;
    margin-bottom: 15px;
}
  
  
/* slider */


/* contact */
.contact-page{
    border: 2px solid firebrick;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    height: 55%;
}
.contact-head h1{
    text-align: center;
    color: cyan;
}
form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin: 70px 0px 0px 0px;
    border: 2px solid black;
    background-color: #1c3535;;
    border-radius: 25px;
    width: 45%;
    height: 65%;
    overflow: hidden;
}
form .form{
    display: contents;
    width: 100%;
    height: 100%;
}
@media (max-width:921px) {
    form{
        width: 75%;
        height: 45%;
    }
    
}
@media (max-width:250px) {
    .form{
        width: 100vw;
        height: 45%;
    }
    
}
.input{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-top: 35px;
    border-radius: 12px;
}
.input input{
    padding: 0px 10px;
    color: white;
    height: 32px;
    border: 2px solid cyan;
    border-radius: 12px;
}

.input textarea{
    padding: 5px 10px;
    max-height: 30px;
    color: white;
    max-width: 100%;
    min-width: 100%;
    height: 32px;
    border: 2px solid cyan;
    border-radius: 12px;
    resize: none;

}
.input label{
    color: white;
    background-color: #1c3535;;
}

.form button{
    font-family: 'Merriweather', serif;
    font-family: 'Poppins', sans-serif;
    margin-top: 25px;
    padding: 7px 15px;
    color: black;
    background-color: cyan;
    border: 2px solid black;
    color: black;
    border-radius: 8px;
}

.form button:hover{
    border: 2px solid black;
}

/* modal */
.modal {
    display: flex;
    justify-content: center; 
    flex-direction: column;
    border: 2px solid black;
    position: fixed;
    padding: 5px 0px;
    top: 90%;
    left: 50%;
    transform: translate(-50%, 300%);
    transition: transform 0.2s ease;
    color: white;
    width: 200px;
    height: 45px;
    border-radius: 15px;
    overflow: hidden;
    display: none;
  }
  
  .modal-content {
    text-align: center; 
  }
  
  .modal-content h4 {
      margin: 0; 
    }
    
    .modal-speed {
        background-color: cyan;
        height: 3px;
        width: 100%;
        position: absolute;
        bottom: 0;
        /* animation-iteration-count: 2; */
    }

    @keyframes loader1 {
        from{
            width: 0%;
        }
        to{
            width: 100%;
        }
    }

    @keyframes loader2 {
        from{
            width: 100%;
        }
        to{
            width: 0%;
        }
    }

